html,body
  font-family "微软雅黑", "Microsoft YaHei", "Arial Regulal",Arial,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB",sans-serif
  height 100%
  width 100%
  margin 0 
  padding 0 
  font-size 14px
  background #f3f7fd
  color #425F92
  user-select none
input
  font-family "微软雅黑", "Microsoft YaHei", "Arial Regulal",Arial,"Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB",sans-serif
  outline none
div,form,img,ul,ol,li,dl,dt,dd
  margin 0 
  padding 0
  border 0
li
  list-style-type none
img
  vertical-align top
  border none
h1,h2,h3,h4,h5,h6
  margin 0 
  padding 0
  font-size 14px
  font-weight normal
a
  color #425F92
  &:hover
    color #1764E8
html,body,div,form,img,ul,ol,li,dl,dt,dd
  &::-webkit-scrollbar-track-piece
    background-color none
  &::-webkit-scrollbar
    width 2px
    height 2px
  &::-webkit-scrollbar-thumb
    background-color #BDC8DB
    background-clip padding-box
    min-height 28px
    border-radius 6px                      
// input:-webkit-autofill,input:-webkit-autofill:hover,input:-webkit-autofill:focus,input:-webkit-autofill:active
//   -webkit-transition-delay 999999999s
//   -webkit-transition color 999999999s ease-out, background-color 999999999s ease-out